:root {
    --blue:#4158D0;
    --purple:#C850C0;
    --yellow:#FFCC70;

    --gray-0:#f9f9fa;
    --gray-1:#eceeef;
    --gray-2:#eceeef;
    --gray-3:#cfd3d7;
    --gray-4:#bfc5c9;
    --gray-5:#adb4b9;
    --gray-6:#98a1a8;
    --gray-7:#98a1a8;
    --gray-8:#606e79;
    --gray-9:#454e55;

    --gradient: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

    /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */

    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --ff-montserrat: 'Roboto', sans-serif;
    --ff-Playfair: 'Prompt', serif;
    --ff-Roboto: 'Roboto', sans-serif;
 
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.hero {
    color: white;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 5rem;
    width: 100%;
    background-color: purple;
    /* background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c); */
    background-image: var(--gradient);
    /* background-image: radial-gradient(
        closest-side,
        var(--blue),
        var(--purple),
        var(--yellow)
    ); */
    background-size: 600%;
    animation: move 10s alternate infinite;
}

@keyframes move {
    from {
        background-position: 0%;
    } 
    to {
        background-position: 100% 100%;
    }
}

.box {
    /* max-width: 30rem; */
    width: 100%;
}

body {
    font-family: var(--ff-Playfair);
    background-color: white;
}

.main-section   {
    background-color: white;
}

nav {
    background-color: white;
}

a {
    color: var(--gray);
}

#mug {
    color: var(--gray);
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

.skills-section{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.172);
}

.my-skills {
    padding-top: 3rem;
    text-align: center;
}

.skills-section {
    background-color: white;
    
}

.about-me {
    padding-top: 3rem;
    text-align: center;
}

h1, h2, h3 {
    font-weight:500;
}

#fullstack-dev {
    padding-bottom: 2rem;
}

header {
    background-color: var(--blue);
    color: var(--gray);
}

.project-header {
    text-align: center;
    padding: 3rem;
}

.profile {
    max-height: 300px;
}

.lang-icons{
    text-align: center;
    font-size: 5em;
}

.footer-section {
    padding: 3rem;
    background-color: white;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.172);
}

#footer-row {
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.message {
    padding-top: 1rem;
}

.box {
    /* border: solid green; */

}

.box:hover {
    transform: scale(102%);
    transition-duration: 50ms
}

.project-section {
    background-color: #98a1a81b;
}

.social-container{
    
    text-align: center;
}

.social{
    font-size: 2.0rem;
    margin: 1rem;
    text-decoration: none;
}

#resume {
    text-decoration: none;
    padding: .2rem;
    border-radius: 5%;
    background-color: white;
    color: purple;
}

@media only screen and (max-width: 600px) {
    .profile {
      display: none;
    }
  }
